<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../../libs/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  
  <title>Login Page</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center">
      <div class="col-8">
        <div class="container">
          <div class="row login-wrapper">
            <div class="col-lg-7 col-md-12 account-info"></div>
            <div class="col-lg-5 col-md-12 login-form">
              <div class="mb-3">
                <label for="emailInput" class="form-label">Email:</label>
                <input type="email" class="form-control" id="emailInput">
              </div>
              <div class="mb-3">
                <label for="passwordInput" class="form-label">Password</label>
                <input type="password" class="form-control" id="passwordInput">
              </div>
              <div class="d-grid gap-2 col-12 mx-auto">
                <button class="btn btn-primary" type="button" id="loginButton">Đăng nhập</button>
                <button class="btn btn-success" type="button" id="signupButton">Đăng ký</button>
                <button class="btn btn-secondary" type="button" id="fetchUsersButton">Lấy danh sách user</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Import dependencies -->
  <script src="../../libs/bootstrap/js/bootstrap.min.js"></script>
  <script src="../../libs/jquery/jquery-3.5.1.min.js"></script>

  <!-- jQuery -->
  <script>
    $(document).ready(function() {
        // LOGIN
        $('#loginButton').click(function() {
          const email= $("#emailInput").val()
          const password = $("#passwordInput").val()
          if(!email) {
            $('.alert').remove()
            $(".container-fluid").prepend(`<div class="alert alert-warning" role="alert">Email invalid</div>`)
            return
          }

          if(!password) {
            $('.alert').remove()
            $(".container-fluid").prepend(`<div class="alert alert-warning" role="alert">Password invalid</div>`)
            return
          }

          $.ajax(
            {
              url: "http://localhost:3000/login",
              data: JSON.stringify({
                email,
                password
              }),
              type: 'POST',
              contentType: 'application/json'
            }).done( function (data) {
                if(data.status === 'error') {
                  $('.alert').remove()
                  $(".container-fluid").prepend(`<div class="alert alert-danger" role="alert">${data.message}</div>`)
                } else {
                  window.location.replace('file:///C:/Users/HieuTC7/Downloads/social-network-app/client/src/components/HomePage/index.html')
                }
            })
        })

        $('#signupButton').click(function() {
          window.location.replace('file:///C:/Users/HieuTC7/Downloads/social-network-app/client/src/components/SignupPage/index.html')
        })

        $('#fetchUsersButton').click(function() {         
          $.ajax({
            url: "http://localhost:3000/users",
            type: 'GET',
            contentType: 'application/json'
          }).done( function (data) {
                if(data.status === 'error') {
                  $('.alert').remove()
                  $(".container-fluid").prepend(`<div class="alert alert-danger" role="alert">${data.message}</div>`)
                } else {
                  data.users.forEach(user => {
                    $(".container-fluid").append(`<div class="user-info mb-3">${user.lastName} ${user.firstName}</div>`)
                  });
                }
          })
        })
     })
  </script>

</body>
</html>